@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  /* overflow: hidden; */
  /* height: 100%; */
}

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

#root {
  /* height: 100vh; */
  /* overflow: hidden; */
  /* overflow: hidden; */
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.hover-group:hover .hover-text {
  opacity: 1;
}

.hover-group {
  width: 100%;
  min-height: 80px;
  position: relative;
}

.hover-img {
  z-index: 5;
}

.hover-group:hover .hover-img {
  opacity: 0.3;
}

/* .hover-img {
  margin: 100px;
} */


.hover-text {
  position: absolute;
  /* top: 100%; */
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 10;
}



@keyframes ldio-6wvhm66o7gx {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-6wvhm66o7gx div {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 10px solid #384aeb;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-6wvhm66o7gx div {
  animation: ldio-6wvhm66o7gx 1s linear infinite;
  top: 50px;
  left: 50px
}
.loadingio-spinner-rolling-nujnwn5po0q {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
}
.ldio-6wvhm66o7gx {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-6wvhm66o7gx div { box-sizing: content-box; }